<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KaguyaSama</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ListaAnimes.css">
    <link rel="stylesheet" href="css/AnimeMolde.css">
</head>

<body>
    <nav id="navbar">
        <div>
            <a href="PrimeiraPagina.html" class="linha">
                <img id="logo" src="img/EnekImkXUAI9bzN.jpg">
            </a>
        </div>
        <ul class="linha">
            <li><a href="PrimeiraPagina.html" class="opcoes">Pagina Inicial</a></li>
            <li><a href="ListaDeAnimes.html" class="opcoes">Lista de Animes</a></li>
        </ul>
    </nav>
    <div class="container">

        <div id="titulo">Kaguya Sama love is War</div>

        <div class="box">
            <div class="cardImg">
                <img src="img/kaguya-sama-love-is-war.jpg" alt="" class="img">
            </div>

            <div class="BoxInfoAnime">
                <div class="boxInfoAnimeLinha">
                    <b>Nome Alternarivo:</b>
                    Nome do anime2
                </div>
                <div class="boxInfoAnimeLinha">
                    <b>Gênero:</b>
                    Suspense
                </div>
                <div class="boxInfoAnimeLinha">
                    <b>Autor:</b>
                    Autor123
                </div>
                <div class="boxInfoAnimeLinha">
                    <b>Diretor:</b>
                    Diretor123
                </div>
                <div class="boxInfoAnimeLinha">
                    <b>Estúdio:</b>
                    Estudio123
                </div>
                <div class="boxInfoAnimeLinha">
                    <b>Tipo de Episódio:</b>
                    Legendado
                </div>
                <div class="boxInfoAnimeLinha">
                    <b>Episódios:</b>
                    12
                </div>
                <div class="boxInfoAnimeLinha">
                    <b>Dia de Lançamento:</b>
                    Segunda-Feira
                </div>
            </div>
        </div>

        <div class="listaEp">
            <div id="ep">Episódios</div>
            <ul>
                <li>
                    <a href="" class="episodios">Episódio 1</a>
                </li>
            </ul>
        </div>

    </div>
</body>

</html>