<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Animes</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ListaAnimes.css">
</head>

<body>
    <nav id="navbar">
        <div>
            <a href="PrimeiraPagina.html">
                <img src="img/EnekImkXUAI9bzN.jpg" alt="" id="logo">
            </a>
        </div>
        <ul class="linha">
            <li><a href="PrimeiraPagina.html" class="opcoes">Pagina inicial</a></li>
            <li><a href="ListaDeAnimes.html" class="opcoes">Lista de Animes</a></li>
        </ul>
    </nav>
    <ul class="lista">
        <li>
            <a href="JujutsuKaisen.html">
                <div class="animeImg">
                        <img src="img/FAdlmmHWEAcfMFk.jpg" class="thumbImg">
                </div>
                <div class="animeInfo">
                    <h2 class="">Jujustu Kaisen</h2>
                    <p class="">Sinopse: Em um mundo onde demônios se alimentam de humanos desavisados, fragmentos do lendário e temido demônio Ryoumen Sukuna foram perdidos e espalhados. Se algum demônio consumir partes do corpo de Sukuna, o poder que eles ganham pode destruir o mundo como o conhecemos. Felizmente, existe uma misteriosa escola de feiticeiros Jujutsu que existem para proteger a precária existência dos vivos! Yuuji Itadori é um estudante do ensino médio que passa seus dias visitando seu avô acamado. Embora ele se pareça com um adolescente comum, sua imensa força física é algo notável! Todos os clubes de esportes querem que ele entre, mas Itadori prefere sair com os párias da escola do Clube de Ocultismo. Um dia, o clube consegue colocar as mãos em um objeto maldito lacrado, mas mal sabem eles o terror que vão desencadear quando quebrarem o selo...</p>
                </div>
            </a>
        </li>
        <li>
            <a href="KaguyaSama.html">
                <div class="animeImg">
                        <img src="img/kaguya-sama-love-is-war.jpg" class="thumbImg">
                </div>
                <div class="animeInfo">
                    <h2>Kaguya sama love is war</h2>
                    <p>Sinopse: Shinomiya Kaguya e Miyuki Shirogane são membros prestigiados do Conselho Estudantil da Academia Shuchi’in, afirmando suas posições de gênio entre os gênios. Todo o tempo que eles passam juntos ocasionou que desenvolvessem sentimentos mútuos, mas o orgulho deles não vai permitir eles se declarem e se tornem submissos no relacionamento! Amor é guerra, e a batalha deles para fazer o outro se declarar começa agora!</p>
                </div>
            </a>
        </li>
        
    </ul>


</body>

</html>