<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ListaAnimes.css">
</head>

<body>
    <nav id="navbar">
        <div>
            <a href="PrimeiraPagina.html" class="linha">
                <img id="logo" src="img/EnekImkXUAI9bzN.jpg">
            </a>
        </div>
        <ul class="linha">
            <li><a href="PrimeiraPagina.html" class="opcoes">Pagina Inicial</a></li>
            <li><a href="ListaDeAnimes.html" class="opcoes">Lista de Animes</a></li>
        </ul>
    </nav>

    <div class="container">
        <div>
            <div class="destaques">
                <div>
                    <div class="cardImg">
                        <a href="">
                            <img class="thumbImg" src="img/FAdlmmHWEAcfMFk.jpg" alt="">
                        </a>
                    </div>
                    <div class="animeName">
                        <a href="">Jujutsu Kaizen</a>
                    </div>
                </div>

                <div>
                    <div class="cardImg">
                        <a href="">
                            <img src="img/e81af69b67788b5bfda50b2789bbc7ee1481243074_main.jpg" alt="" class="thumbImg">
                        </a>
                    </div>
                    <div class="animeName">
                        <a href="">Noragami</a>
                    </div>
                </div>

                <div>
                    <div class="cardImg">
                        <a href="">
                            <img src="img/kaguya-sama-love-is-war.jpg" alt="" class="thumbImg">
                        </a>
                    </div>
                    <div class="animeName">
                        <a href="">kaguya sama love is war</a>
                    </div>
                </div>

                <div>
                    <div class="cardImg">
                        <a href="">
                            <img src="img/The_Rising_of_the_Shield_Hero_Capa.jpg" alt="" class="thumbImg">
                        </a>
                    </div>
                    <div class="animeName">
                        <a href="">The Rising of the Shield Hero</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>