body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}


#logo {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}
ul {
    list-style-type: none;
    padding: 10px;
}
.navbar {
    background-image: url(/Templates/básico/img/header-gradient.jpg);
    background-size: cover;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.navbar ul {
    display: flex;
    flex-direction: row;
}
.navbar li {
    padding: 20px;
}
a {
    padding: 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    background-color: white;
}

.navbar li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    background-size: 10px;
    cursor: pointer;
}
a:hover {
    cursor: pointer;
    transition: 0.8s ease-in-out;
    text-decoration: underline ;
}