body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}


#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navbar {
    background-image: url(/Templates/básico/img/header-gradient.jpg);
    background-size: cover;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.navbar,
.linha {
    display: flex;
    flex-direction: row;
}

.navbar li {
    padding: 10px;
}

.navbar a {
    padding: 20px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.navbar li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    background-size: 10px;
}

.divConfig {
    display: flex;
    padding: 10px;
    align-items: center;
}

.cardImg {
    height: 300px;
    border-radius: 15px;
    padding: 10px;
}

.thumbImg {
    width: auto;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
.animeName {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.animeName a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
}